body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    width: 70%;
  }
  
  .login-box input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
  }
  
  .header-text img{
    width: 20px;
    height: 20px;
  }
  
  .login-box button {
    padding: 10px;
    background-color: rgb(217,217,217);
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
  }