.flyshion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
}

.logo-container {
  margin-bottom: 30px;
}

.logo {
  height: 100px;
  width: auto;
}

.button-container {
  display: flex; 
  justify-content: center;
  gap: 40px; 
  margin-bottom: 20px; 
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  width: 150px;
}

.main-button {
  font-size: 1.2em;
  font-weight: bold;
}

.secondary-button {
  font-size: 0.9em;
  background-color: #555;
  text-decoration: none;
}

.secondary-button:hover {
  background-color: #777;
}

.or-text {
  font-size: 1.2em;
  color: #333;
  margin: 20px 0; 
}

.login-button-container {
  margin-top: 20px; 
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column; 
    gap: 30px;
  }

  .button-group {
    width: 100%;
    max-width: 250px;
  }

  .button {
    width: 100%;
  }
}
